 .contenedor {
     border: 2px solid black;
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .caja {
     width: 150px;
     height: 150px;
     display: flex;
     justify-content: center;
     align-items: center;


 }

 .ejemplo1 {
     background: red;
     color: black;
 }

 .ejemplo2 {
     background: blue;
     color: black;
 }

 .ejemplo3 {
     background: green;
     color: black;
 }